{% extends "bootstrap/base.html" %}

{% block title %}Flask Event Log UI{% endblock %}

{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- By using CND
	<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
	-->
    <link rel="stylesheet" type="text/css" href="./static/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="./static/easyui/themes/icon.css">
	<script type="text/javascript" src="./static/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="./static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="http://www.w3cschool.cc/try/jeasyui/datagrid-detailview.js"></script>
    <!--<script type="text/javascript" src="./static/easyui/extentions/datagrid-scrollview.js"></script> -->
{% endblock %}

{% block body %}

    <body class="easyui-layout">
        <div region="center" style="padding:5px;" border="false">
            <h1>{{serial_number}}</h1>
            <table id="tt" class="easyui-datagrid" style="width:auto;height:90%" url="get_data"
                    pagination="true" pagesize="20">
                <thead>
                    <tr>
                        <th field="id" width="5%" align="center">Id</th>
                        <th field="severity" width="5%" align="center">Severity</th>
                        <th field="datetime" width="10%" align="center">Date Time</th>
                        <th field="messageid" width="20%" align="center">Message ID</th>
                        <th field="messagetext" width="60%" align="center">Message Text</th>
                    </tr>
                </thead>
            </table>
        </div>
    </body>

    <script>
        $('#tt').datagrid({
            view: detailview,
            detailFormatter:function(index,row){
                return '<div class="ddv" style="padding:5px 0"></div>';
            },
            onExpandRow: function(index,row){
                var ddv = $(this).datagrid('getRowDetail',index).find('div.ddv');
                ddv.panel({
                    border:false,
                    cache:false,
                    href:'get_detail?id='+row.id,
                    onLoad:function(){
                        $('#dg').datagrid('fixDetailRowHeight',index);
                    }
                });
                $('#dg').datagrid('fixDetailRowHeight',index);
            }
        });
    </script>
{% endblock %}


