{% extends "bootstrap/base.html" %}

{% block title %}Flask Event Log UI{% endblock %}

{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- By using CND
	<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
	-->
    <link rel="stylesheet" type="text/css" href="./static/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="./static/easyui/themes/icon.css">
	<script type="text/javascript" src="./static/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="./static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="http://www.w3cschool.cc/try/jeasyui/datagrid-detailview.js"></script>
    <!--<script type="text/javascript" src="./static/easyui/extentions/datagrid-scrollview.js"></script> -->
{% endblock %}

{% block body %}

    <body class="easyui-layout">
    <!-- Tool bar -->
    <div region="north" style="padding:5px;" border="true" title="Filter" height="auto">
        <p>
            <label>Severity:</label>
            <input type="checkbox" id="cbError" checked>Error
            <input type="checkbox" id="cbWarning">Warning
            <input type="checkbox" id="cbInfo">Info
            <input type="checkbox" id="cbSuccess">Success
        </p>
        <p>
            <label>Type:</label>
            <input type="checkbox" id="cbDeveloper">Developer
            <input type="checkbox" id="cbService" checked>Service
        </p>
        <p>
            <input type="submit" id="filterButton" value="Filter">
        </p>
    </div>
    <!-- Log UI -->
        <div region="center" style="padding:5px;" border="false" title={{serial_number}}>
            <table id="tt" class="easyui-datagrid" style="width:auto;height:90%" toolbar="#tb"
                    pagination="true" pagesize="20">
                <thead>
                    <tr>
                        <th field="severity" width="10%" align="center">Severity</th>
                        <th field="type" width="10%" align="center">Type</th>
                        <th field="datetime" width="10%" align="center">Date Time</th>
                        <th field="messageid" width="20%" align="center">Message ID</th>
                        <th field="messagetext" width="45%" align="center">Message Text</th>
                    </tr>
                </thead>
            </table>
        </div>
    </body>

    <script>
        $('#tt').datagrid({
            view: detailview,
            detailFormatter:function(index,row){
                return '<div class="ddv" style="padding:5px"></div>';
            },
            onExpandRow: function(index,row){
                var ddv = $(this).datagrid('getRowDetail',index).find('div.ddv');
                ddv.panel({
                    border:false,
                    cache:false,
                    href:'get_detail?id='+row.id,
                    onLoad:function(){
                        $('#dg').datagrid('fixDetailRowHeight',index);
                    }
                });
                $('#dg').datagrid('fixDetailRowHeight',index);
            }
        });

        $('#filterButton').click(function(){
            var error = $('#cbError').is(":checked")
            var warn = $('#cbWarning').is(":checked")
            var info = $('#cbInfo').is(":checked")
            var sucs = $('#cbSuccess').is(":checked")
            var dev = $('#cbDeveloper').is(":checked")
            var serv = $('#cbService').is(":checked")
            $('#tt').datagrid({
                url:"get_data",
                queryParams:{
                    "error":error,
                    "warn":warn,
                    "info":info,
                    "success":sucs,
                    "developer":dev,
                    "service":serv
                },
                pageSize: 20,
                pageNumber: 1
            })
        })

        $('#tt').datagrid({
            url:"get_data",
            queryParams:{
                "page":1,
                "rows":20,
                "error":true,
                "warn":false,
                "info":false,
                "success":false,
                "developer":false,
                "service":true
            }
        })
    </script>
{% endblock %}


